:root {

    --color-pink-900: #380025;
    --color-pink-800: #70004b;
    --color-pink-700: #a90070;
    --color-pink-600: #e10095;
    --color-pink-500: #ff1ab2;
    --color-pink-400: #ff40bf;
    --color-pink-300: #ff66cc;
    --color-pink-200: #ff8dd8;
    --color-pink-100: #ffb3e5;
    --color-pink-50: #ffd9f2;
    --color-primary-900: var(--color-pink-900);
    --color-primary-800: var(--color-pink-800);
    --color-primary-700: var(--color-pink-700);
    --color-primary-600: var(--color-pink-600);
    --color-primary-500: var(--color-pink-500);
    --color-primary-400: var(--color-pink-400);
    --color-primary-300: var(--color-pink-300);
    --color-primary-200: var(--color-pink-200);
    --color-primary-100: var(--color-pink-100);
    --color-primary-50: var(--color-pink-50);



    font-smooth: always;
    scroll-snap-type: y mandatory;

    @media (prefers-color-scheme: light) {
        --selection-bg-color: pink;
        --link-color: pink;
    }

    ;

    @media (prefers-color-scheme: dark) {
        --selection-bg-color: gray;
        --link-color: #6F42C1;
    }

    ;

    ::selection {
        background-color: var(--selection-bg-color);
    }

    transition: all 100ms ease-out;
    scrollbar-width: thin;

}


@font-face {
    font-family: 'zpix';
    src: url('~/assets/fonts/zpix.ttf') format('truetype');
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-bottom: 1.2em;
    }

    1% {
        margin-bottom: none;
    }

    100% {
        opacity: 1;
    }
}



h1 * {
    --typography-font-body: Times, serif !important;
    font-family: var(--typography-font-body);
    font-weight: normal;
    font-size: 3rem;
    text-wrap: balance;
}

@media (min-width: 768px) {
    h1 * {
        font-size: 5rem;
    }
}

article>div {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    img,
    .table-wrapper {
        opacity: 0;
        animation: fadeIn 500ms cubic-bezier(0.3, 0, 0, 0.5) forwards;
    }

    img:not([src$='png']) {
        border-radius: var(--radii-md);
        border: 1px solid var(--elements-border-primary-static);

    }
}

article>div {

    p,
    li {
        a {
            text-wrap: nowrap;
            border-bottom: 0 !important;
            position: relative;
        

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 66%;
                left: -0.1em;
                right: -0.1em;
                bottom: 0;
                transition: all 225ms cubic-bezier(0, 0.6, 0.6, 0.9);
                background-color: var(--link-color);
            }

            &:hover {
                color: inherit  !important;
                &::after {
                    top: 0;
                    opacity: 0.5;
                }
            }
        }
    }
}

a.button-link {
    transition: all 188ms ease-out !important;
}

.ellipsis-item {
    background: linear-gradient(45deg, orange, pink, pink) !important;
    opacity: 0.7;
}

.card {
    backdrop-filter: blur(10px) !important;
}