:root {
    --color-primary-900: var(--color-pink-900);
    --color-primary-800: var(--color-pink-800);
    --color-primary-700: var(--color-pink-700);
    --color-primary-600: var(--color-pink-600);
    --color-primary-500: var(--color-pink-500);
    --color-primary-400: var(--color-pink-400);
    --color-primary-300: var(--color-pink-300);
    --color-primary-200: var(--color-pink-200);
    --color-primary-100: var(--color-pink-100);
    --color-primary-50: var(--color-pink-50);
    
}

* {
    transition: all 0.2s ease-out !important;   
}
